<div class="content">

  <%= render partial: "shared/header" %>

  <section class="dashboard">
  </section>

  <h3 class="badges-title">Medallas</h3>

  <% badges = @user.badges %>
  <% if badges.empty? %>
    <h4 class="badges-slogan">Sigue jugando para acumular puntos y ganar medallas</h4>
  <% else %>
    <ul class="badges">
      <% badges.each do |badge| %>
        <li>
          <img alt='<%= badge.description %>' src='<%= badge.image %>' />
        </li>
      <% end %>
    </ul>
  <% end %>

</div>

