<div class="row">
  <div class="four columns">
    <%= image_tag @question.image1_url(:thumb) %>
  </div>
  <div class="four columns">
    <%= image_tag @question.image2_url(:thumb) %>
  </div>
  <div class="four columns">
    <%= image_tag @question.image3_url(:thumb) %>
  </div>
</div>
